 <div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
              <h1>
              <%= link_to "Works", works_path, class: " text-dark" %>
              </h1><br>
        </div>
      </div>
        <div class="row">
         <% @works.each do |w| %>
           <% if w.is_deleted == false %>
           <div class="col-md-3 col-6 p-1">
            <%= link_to work_path(w.id) do %>
            <div class="card">
             <%= attachment_image_tag w, :image, format: 'jpg',
             class: "center-block", fallback: "/assets/no_image_m.png", width: '200', height: '200'%>
             <div class="card-body">
              <h6 class="card-title text-left"><%= w.title %></h6>
              <p class="card-text text-right m-1"><%= w.artist.name %></p>
              <div class="card-footer">
                <span class="mx-1">¥<%= w.price.to_s(:delimited) %>円</span>
                <div>
                  <i class="fa fa-heart like-btn mx-1"></i>
                  <i class="fa fa-heart like-btn mx-1"></i>
                  <% if w.stock == 0 %>
                  <span class="badge badge-danger">売り切れ</span>
                  <% end %>
                </div>
              </div>
            </a>
            </div>
          </div>
         </div>
          <% end %>
        <% end %>
       <% end %>
    </div>
  </div>
</div>