<div class="container">
  <form class="form-inline col-8 offset-2 justify-content-center my-5 bg-light">
    <%= search_form_for @search do |f| %>
    <span class="">キーワード</span>
    <div class="form-group m-2"　>
      <%= f.search_field :title_or_creation_date_or_technique_or_comment_or_tags_name_cont_any %>
    </div>
    <span class="border"><%= sort_link(@search, :updated_at, '新着順', hide_indicator: true) %></span>/
    <span class="border"><%= sort_link(@search, :price, '価格順', hide_indicator: true, default_order: :desc) %></span>
    <div class="mx-2"><%= f.submit "検索", class: "btn btn-primary" %></div>
  </form>
</div>
<% end %>
 <%= render 'public/works/works' %>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="row", style="margin-bottom: 60px">
          <%= paginate @works, class: "pagenate"%>
        </div>
        </div>
      </div>
    </div>
  </div>