 <div class="py-5">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 text-center">
          <%= attachment_image_tag @work, :image, format: 'jpg',
          class: "center-block", fallback: "/assets/no_image_m.png", width: '250', height: '250'%>
          <% if user_signed_in? && @work.artist.user_id == current_user.id %>
          <div>
            <%= link_to "作品情報編集", edit_work_path(@work), class: "col-9 btn bg-danger my-4 p-2" %>
          </div>
          <% else %>
          <% end %>
          
          <div class="col-12 my-2">
            <div class="card">
              <div class="card-header bg-info">
                <h5 class="mb-0 text-center text-white">アーティスト</h5>
              </div>
              <%= link_to artist_path(@work.artist.id) do %>
              <div class="card-body">
                <%= attachment_image_tag @work.artist.user, :image, format: 'jpg',
                class: "center-block", fallback: "/assets/no_image_m.png", width: '100', height: '100'%>
                <p class="card-text"><%= @work.artist.name %></p>
              </div>
              <% end %>
            </div>
          </div>
        </div>

      <div class="flex-colum d-flex col-lg-8">
        <div class="col-lg-10 mx-3" >
          <ul class="list-group list-group-flush">
            <h4 class="list-group-item md-1">作品名：<%= @work.title %></h4>
            <h4 class="list-group-item md-1 d-inline-flex">¥<%= @work.price.to_s(:delimited) %>円
              <span class="mx-5">
              <% if @work.stock == 0 %>
                <button type="button" class="btn btn-danger" disabled="disabled">売り切れ</button>
              <% elsif user_signed_in? || session[:cart_id].present? %>
                  <%= form_for @line_item, url:line_items_path(work_id: @work) do |li| %>
                  <%= li.number_field :quantity, class:"border btn btn-default btn-xs", min:"1", max: @work.stock %>
                  <%= li.submit 'カートに入れる', class:'btn btn-primary' %>
                  <% end %>
              <% else %>
                  <%= form_for @line_item, url:line_items_path(work_id: @work) do |li| %>
                  <%= li.number_field :quantity, class:"border btn btn-default btn-xs", min:"1", max: @work.stock %>
                  <%= li.submit 'カートに入れる', data: {confirm: 'ログインせずに買い物しますか？'}, class:'btn btn-primary' %>
                  <% end %>
              <% end %>
              </span>
              </h4>
            <li class="list-group-item">制作年：<%= @work.creation_date %></li>
                <li class="list-group-item">エディション：<%= @work.edition %></li>
                <li class="list-group-item">サイズ：<%= @work.size %></li>
                <li class="list-group-item">素材・技法：<%= @work.technique %></li>
            <li class="list-group-item">タグ：
            <% @work.tag_list.each do |tag| %>
            <span class="badge2 badge-light"><%= tag %></span>
            <% end %>
            </li>
            <a class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">作品の注目ポイント</h5>
              </div>
              <p class="mb-1"><%= @work.comment %></p>
            </a>

          </ul>
          <div class="col-12 py-2 bg-success text-center col-md-12">
            <a>この作品をクリップ</a>
            <i class="fa fa-heart like-btn mx-3"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-3">
            <h4 class="mb-4 text-dark my-3" contenteditable="true"><%= @work.artist.name %>さんの作品</h4>
          </div>
        </div>
        <div class="row">
          <% @work.artist.works.each do |w| %>
        <% if w.is_deleted == false %>
          <div class="col-md-3 col-6 p-1">
            <%= link_to work_path(w.id) do %>
            <div class="card">
              <%= attachment_image_tag w, :image, format: 'jpg',
              class: "center-block", fallback: "/assets/no_image_m.png", width: '200', height: '200'%>
              <div class="card-body">
                <h6 class="card-title text-left"><%= w.title %></h6>
                <p class="card-text text-right m-1"><%= @work.artist.name %></p>
                <div class="card-footer">
                  <span class="mx-1">¥<%= w.price.to_s(:delimited) %>円</span>
                  <div>
                    <i class="fa fa-heart like-btn mx-1"></i>
                    <i class="fa fa-heart like-btn mx-1"></i>
                  </div>
                </div>
                <% if user_signed_in? && @work.artist.user_id == current_user.id %>
                <div>
                  <%= link_to "作品情報編集", edit_work_path(w.id), class: "col-9 btn bg-danger my-2 p-2" %>
                </div>
                <% else %>
                <% end %>
                <% end %>

              </a>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

