<div class="py-5">
	<div class="container">
		<div class="row">
			<%= render 'layouts/public/sidebar' %>
			<div class="flex-colum d-flex col-lg-8">
				<div class="col-lg-12 mx-4">
					<div class="col12">
						<div class="card">
							<div class="card-body p-5">
								<h3 class="pb-3">売り上げ関連</h3>
								<table class="table">
									<thead>
										<tr>
											<th>取引日時</th>
											<th>販売作品</th>
											<th>販売単価</th>
											<th>数量</th>
											<th>売り上げ</th>
										</tr>
									</thead>
									<% sum = 0 %>
								<% @ordered_items.each do |oi| %>
									<tbody>
										<tr>
											<td><%= oi.order.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
											<td><%= oi.work.title %></td>
											<td>¥<%= oi.price.to_s(:delimited) %>円</td>
											<td><%= oi.quantity %>点</td>
											<% total = oi.price * oi.quantity %>
											<% total_sale = total * 0.8 %>
											<% sum = sum + total_sale %>
											<td><%= total_sale.round.to_s(:delimited) %></td>
										</tr>
								<% end %>
									</tbody>
								</table>
								<% final_total =  %>
								<div class="text-right my-3"> 売り上げ合計
									<span class="mx-2">¥<%= sum.round.to_s(:delimited)  %></span>
								</div>
								<ul class="pagination justify-content-center">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">«</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">»</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		　</div>
	　</div>
</div>