<div class="py-5">
	<div class="container">
		<div class="row">
			<%= render 'layouts/public/sidebar' %>
			<div class="flex-colum d-flex col-lg-8">
				<div class="col-lg-12 mx-4">
					<div class="col12">
						<div class="card">
							<div class="card-body">
								<h3 class="pb-3">売り上げ関連</h3>
								<table class="table">
									<thead>
										<tr>
											<th>取引日時</th>
											<th>販売作品</th>
											<th>販売単価</th>
											<th>数量</th>
											<th>売り上げ</th>
											<th>消費税</th>
										</tr>
									</thead>
									<% sum = 0 %>
								<% @ordered_items.each do |oi| %>
									<tbody>
										<tr>
											<td><%= oi.order.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
											<td><%= link_to "#{oi.work.title}", work_path(oi.work.id) ,class: "border bg-info" %></td>
											<td>¥<%= oi.price.to_s(:delimited) %>円</td>
											<td><%= oi.quantity %>点</td>

											<td>¥<%= oi.artist_item_total.round.to_s(:delimited) %>円
											</td>
											<% tax = oi.artist_item_total * 0.08 %>
											<td><%= tax %></td>
											<% sum = sum + oi.artist_item_total + tax %>
										</tr>
								<% end %>
									</tbody>
								</table>
								<%# binding.pry %>
								<h3 class="text-right my-3"> 売り上げ合計
									<span class="mx-2">¥<%= sum.round.to_s(:delimited)  %></span>
								</h3>
								<div class="col-md-12">
									<div class="row", style="margin-bottom: 60px">
										<%= paginate @ordered_items, class: "pagenate"%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		　</div>
	　</div>
</div>