<footer>
  <div class="text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="mt-5 col-md-4">
          <h3 class="mb-4">Photogallery</h3>
          <ul class="list-unstyled">
            <%= link_to "Home", root_path, class: "text-white" %>
            <br>
            <%= link_to "Photogalleryとは?", static_pages_about_path, class: "text-white" %>
            <br>
            <%= link_to "アーティスト登録方法", static_pages_how_to_register_path, class: "text-white" %>
            <br>
            <%= link_to "お問い合わせ", new_contacts_path, class: "text-white" %>
            <br>
            <%= link_to "配送料について", static_pages_postage_path, class: "text-white" %>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="mb-4 mt-5">Content</h3>
          <ul class="list-unstyled">
            <%= link_to "アーティスト一覧", artists_path, class: "text-white" %>
            <br>
            <%= link_to "作品一覧", works_path, class: "text-white" %>
            <br>
            <a href="#" class="text-white">展覧会情報</a>
          </ul>
        </div>
        <div class="mt-5 col-md-4">
          <h3>Social</h3>
          <div class="align-self-center col-12 my-4">
            <a href="#" target="_blank"><i class="fa fa-facebook d-inline fa-lg text-white"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter d-inline mx-2 fa-lg text-white"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram d-inline fa-lg text-white"></i></a>
            <a href="#" target="_blank"><i class="fa fa-google-plus-official d-inline mx-2 fa-lg text-white"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2018 Photogallery - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>