<header>
	<nav class="navbar navbar-expand-md navbar-dark flex-column h-50" style="background-image: url('/assets/I_020.JPG');background-position: center;background-size:cover;">
    <div class="container">
      <div class="row my-3">
        <%= link_to root_path, class: "h1  text-dark w-25" do %>
        Photogallery</a>
        <% end %>
      </div>
      <div class="row">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "アーティスト一覧", artists_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "作品一覧", works_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">写真展一覧</a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", users_show_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "ログイン/新規登録", static_pages_entrance_path, class: "nav-link" %>
            <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">カート</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form class="form-inline offset-md-8" action="">
      <% if user_signed_in? %>
      <a>こんにちは<%= current_user.name %>さん</a>
      <a><%= current_user.email %></a>
      <% else %>
      <a>こんにちはゲストさん</a>
      <% end %>
      <input class="form-control mr-2 form-control-sm" type="text" placeholder="Search">
      <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
    </form>
  </nav>
</header>