<% sum = 0 %>

<%= form_for @order, :url => orders_path do |f| %>

<% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが<%= @order.errors.count %>件あります。お客様情報を入力して下さい。</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">名前</div>
    <%= @order.name %>
    <%= f.hidden_field :name %>
  <div class="my-2">名前(カナ)</div>
    <%= @order.name_kana %>
    <%= f.hidden_field :name_kana %>
  <div class="my-2">郵便番号</div>
  <%= @order.zipcode %>
    <%= f.hidden_field :zipcode %>
  <div class="my-2">都道府県</div>
    <%= @order.prefecture.name %>
    <%= f.hidden_field :prefecture_id %>
  <div class="my-2">住所</div>
    <%= @order.address %>
    <%= f.hidden_field :address %>
  <div class="my-2">電話番号</div>
    <%= @order.phone %>
    <%= f.hidden_field :phone %>
    <div class="my-2">e-mail</div>
    <%= @order.email %>
    <%= f.hidden_field :email %>
  <div class="my-2">支払い方法</div>
    <%= @order.payment %>
    <%= f.hidden_field :payment %>
  <div class="my-2">購入金額</div>
    
    <% sub_sum =+ sum + @cart.total_price %>
    <h4>小計：¥<%= sub_sum.to_s(:delimited) %>円</h4>
    <h5>消費税：¥<% tax = sub_sum * 0.08 %><%= tax.round.to_s(:delimited) %>円</h5>
    <h5>配送料：¥<%= @order.prefecture.postage.to_s(:delimited) %>円</h5>
    <% total_price = sub_sum + tax.round + @order.prefecture.postage %>
    <h3>合計金額：¥<%= total_price.to_s(:delimited) %>円</h3>

    <%= f.hidden_field :total, value: total_price %>

    <div class="actions">
      <%= f.submit '内容を変更する', name: 'back', class: "btn btn-light col-xs-12 my-3"  %>
    </div>

  <div>
    <%= f.submit "注文を確定する", class: "btn btn-primary col-xs-12 my-3" %>
  </div>
<% end %>