<!DOCTYPE html>
<html>
<head>
	<title>Photogallery</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="theme.css" type="text/css">
</head>
<header>
	<nav class="navbar navbar-expand-md navbar-dark flex-column h-500" style="background-image: url('/assets/I_020.JPG');background-position: center;background-size:cover;">
		<div class="container">
			<div class="row my-3">
				<a class="h1  text-dark w-25">Photogallery</a>
			</div>
			<div>
			</div>
			<div class="row">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<%= link_to "アーティスト一覧", artists_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
              				<%= link_to "作品一覧", works_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">写真展一覧</a>
						</li>
						<% if user_signed_in? %>
						<li class="nav-item">
							<%= link_to "マイページ", users_show_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
						</li>
						<% else %>
						<li class="nav-item">
							<%= link_to "ログイン/新規登録", static_pages_entrance_path, class: "nav-link" %>
							<% end %>
						</li>
							<% if session[:cart_id].present? %>
							<li class="nav-item">
								<%= link_to "カート", cart_path(session[:cart_id]), class: "nav-link" %>
							</li>
							<% end %>
					</ul>
				</div>
			</div>
		</div>
		<form class="form-inline offset-md-8" action="">
			<% if user_signed_in? %>
			<a>こんにちは<%= current_user.name %>さん</a>
			<a><%= current_user.email %></a>
			<% else %>
			<a>こんにちはゲストさん</a>
			<% end %>
		<input class="form-control mr-2 form-control-sm" type="text" placeholder="Search">
		<button class="btn btn-outline-light btn-sm" type="submit">Search</button>
		</form>
	</nav>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<body>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center mt-5 my-5">Works</h1>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="container">
			<div class="row">
				 <% @works.each do |w| %>
        <% if w.is_deleted == false %>
          <div class="col-md-3 col-6 p-1">
            <%= link_to work_path(w.id) do %>
            <div class="card">
            	<div class="text-center">
              <%= attachment_image_tag w, :image, format: 'jpg',
              class: "center-block", fallback: "/assets/no_image_m.png", width: '200', height: '200'%>
            	</div>
              <div class="card-body text-dark">
                <h6 class="card-title text-left"><%= w.title %></h6>
                <p class="card-text text-right m-1"><%= w.artist.name %></p>
                <div class="card-footer">
                  <span class="mx-1">¥<%= w.price.to_s(:delimited) %>円</span>
                  <div>
                    <i class="fa fa-heart like-btn mx-1"></i>
                    <i class="fa fa-heart like-btn mx-1"></i>
                  </div>
                </div>
                
              </a>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-info mt-5 my-5">Artists</h1>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="container">
			<div class="row">
				<% @artists.each do |a| %>
				<div class="col-md-3 my-2">
					<%= link_to artist_path(a.id) do %>
					<div class="card">
						<div class="text-center">
							<%= attachment_image_tag a.user, :image, format: 'jpg',
							fallback: "/assets/no_image_m.png", width: '200', height: '200'%>
						</div>
						<div class="card-body">
							<h5 class="card-title"><%= a.name %></h5>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-info">exhibitions</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/public/footer' %>
	<%= render template: "layouts/application" %>
	<!-- 追記 -->
	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
