<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<nav>
    そのうち消す
		<% if user_signed_in? %>
		<strong><%#= link_to current_user.username, pages_show_path %></strong>
		<%= link_to 'プロフィール変更', edit_user_registration_path %>
		<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
		<p><%#= current_user.name %></p>
		<p><%#= current_user.provider %></p>
		<p><%#= current_user.uid %></p>
		<p><%#= current_user.email %></p>
		<% else %>
		<%= link_to 'サインアップ', new_user_registration_path %>
		<%= link_to 'ログイン', new_user_session_path %>

		<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
		<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
		
		<% end %>
	</nav>
